.container {
  padding: 0 96px;
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 25px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    padding: 0 16px;
  }
}
/* margin-top */
.mt-50 {
  margin-top: 50px;
}

.mt-8 {
  margin-top: 8px;
}

@media screen and (max-width: 576px) {
  .mt-32-sm {
    margin-top: 32px;
  }
}
/* padding-left */
.pl-16 {
  padding-left: 16px;
}
/* padding-right */
.pr-0 {
  padding-right: 0;
}
