/* 
  xs: <= 375px
  sm: <= 576px
  md <= 768px
  lg <= 992px
  xl <= 1200px
*/

/* variable */
/* :root {
  --xs: 375px;
} */

.container {
  padding: 0 96px;
}
@media screen and (max-width: 676px) {
  .container {
    padding: 0 25px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    padding: 0 16px;
  }
}

/*.tab-list .tab-item a  */
.tab-list {
  display: flex;
  margin-top: 54px;
  overflow-x: auto;
  overflow-y: visible;
}
@media screen and (max-width: 768px) {
  .tab-list {
    margin-top: 24px;
  }
}

.tab-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Track */
.tab-list::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.tab-list::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.tab-list::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
/* .tab-list .tab-item  */
.tab-list .tab-item {
  padding: 0 25px;
  border-bottom: 1px solid var(--light-gray);
}
@media screen and (max-width: 768px) {
  .tab-list .tab-item {
    padding: 0 12px;
  }
}
.tab-list .tab-item a {
  display: inline-block;
  padding: 10px 0;
  height: calc(100% + 1px);
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  font-size: 20px;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .tab-list .tab-item a {
    font-size: 16px;
    line-height: 24px;
  }
}
.tab-list .tab-item:first-child {
  padding-left: 0;
}
.tab-list .tab-item:last-child {
  padding-right: 0;
  flex: 1 1 0%;
}

.tab-list .tab-item a.active {
  border-color: var(--light-black);
}
/* .tab-content */
.tab-content {
  margin-top: 40px;
}

/* margin-top */
.mt-50 {
  margin-top: 50px;
}

.mt-8 {
  margin-top: 8px;
}

@media screen and (max-width: 576px) {
  .mt-sm-32 {
    margin-top: 32px;
  }
}
/* padding-left */
.pl-0 {
  padding-left: 0;
}
.pl-16 {
  padding-left: 16px;
}
/* padding-right */
.pr-0 {
  padding-right: 0;
}

/* text colors */
.text-accent {
  color: var(--light-accent);
}

.text-white {
  color: var(--light-white);
}

.text-black {
  color: var(--light-black);
}

.text-dark-gray {
  color: var(--light-dark-gray);
}

.text-gray {
  color: var(--light-gray);
}

.text-light-gray {
  color: var(--light-light-gray);
}

.text-errors {
  color: var(--light-errors);
}
