.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.account-main .container {
  background: rgba(236, 62, 62, 0.3);
}
.tab-list {
  margin-top: 64px;
}
.tab-content {
  margin-top: 40px;
}
