/* header */
.header {
  padding-top: 48px;
}

/* header-wrapper */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}
/* header-logo */
.header-logo svg {
  display: block;
}
/* header-nav-list */
.header-nav-list {
  display: flex;
  align-items: center;
}
.header-nav-list .nav-item {
  padding: 0 32px;
}

.header-nav-list .nav-item a {
  display: block;
  text-decoration: none;
  color: #000;
  margin-bottom: -1px;
  padding: 24px 0;
  border-bottom: 2px solid transparent;
}

.header-nav-list .nav-item a.active {
  border-color: #000;
}

.header-nav-list .nav-item-icon {
  padding: 0 20px;
}

.nav-item-icon.icon-account {
  padding-right: 0;
}

.header-nav-list .nav-item a svg {
  display: block;
}

.header-nav-list .vertical-item {
  border-right: 1px solid #707070;
  height: 17px;
  margin-left: -4px;
  margin-right: 8px;
}
