/* ------------------------------------------------------------ */
/* text colors */
.text-accent {
  color: var(--light-accent);
}

.text-white {
  color: var(--light-white);
}

.text-black {
  color: var(--light-black);
}

.text-dark-gray {
  color: var(--light-dark-gray);
}

.text-gray {
  color: var(--light-gray);
}

.text-light-gray {
  color: var(--light-light-gray);
}

.text-errors {
  color: var(--light-errors);
}
@media screen and (max-width: 992px) {
  .text-lg-dark-gray {
    color: var(--light-dark-gray);
  }
}
/* ------------------------------------------------------------ */
/* text align */
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

@media screen and (max-width: 992px) {
  .text-lg-right {
    text-align: right;
  }

  .text-lg-left {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .text-md-center {
    text-align: center;
  }
}

/* -------------------------------------------------- */
/* font-weight */

.f-700 {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .f-md-400 {
    font-weight: 400;
  }
}
/* -------------------------------------------------- */
/* font-size */
.text-12 {
  font-size: 12px;
  line-height: 18px;
}
.text-14 {
  font-size: 14px;
  line-height: 21px;
}
.text-16 {
  font-size: 16px;
  line-height: 21px;
}

.text-20 {
  font-size: 20px;
  line-height: 30px;
}
.text-26 {
  font-size: 26px;
  line-height: 39px;
}
.text-32 {
  font-size: 32px;
  line-height: 48px;
}

@media screen and (max-width: 992px) {
  .text-lg-12 {
    font-size: 12px;
    line-height: 18px;
  }

  .text-lg-16 {
    font-size: 16px;
    line-height: 24px;
  }
  .text-lg-20 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .text-md-12 {
    font-size: 12px;
    line-height: 18px;
  }
  .text-md-16 {
    font-size: 16px;
    line-height: 24px;
  }
  .text-md-20 {
    font-size: 20px;
    line-height: 30px;
  }
}
