.confirm-bar {
  align-items: center;
  background: var(--light-light-gray);
  border-top: 2px solid var(--light-accent);
  padding: 20px 40px;
}
@media screen and (max-width: 992px) {
  .confirm-bar {
    padding: 10px;
  }
}
/* order-detail */
.order-detail {
  flex: 0 0 40%;
}

/* order-confirm */
.order-confirm {
  justify-content: space-between;
}

.order-confirm span {
  margin-top: 5px;
  color: var(--light-dark-gray);
}

/* ---------------- */
/* order-summary-wrapper */
.order-summary-wrapper {
  flex: 0 0 50%;
}

.order-summary {
  background: var(--light-light-gray);
  padding: 40px 60px;
}
@media screen and (max-width: 992px) {
  .order-summary {
    padding: 16px 20px;
  }
}
.top-line {
  border-top: 1px solid var(--light-gray);
}
